apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
  namespace: test
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      containers:
      - name: demo-app
        image: ibrahimmmm/demo-app:latest
        ports:
        - containerPort: 80  # ⬅️ Flask sur port 5000
        env:
        - name: MONGODB_URI
          value: "mongodb://mongo-0.mongo.test.svc.cluster.local:27017,mongo-1.mongo.test.svc.cluster.local:27017,mongo-2.mongo.test.svc.cluster.local:27017/?replicaSet=rs0"
        - name: REDIS_HOST
          value: "redis-service.test"
        - name: ENVIRONMENT
          value: "test"
---
apiVersion: v1
kind: Service
metadata:
  name: demo-app-svc
  namespace: test
spec:
  selector:
    app: demo-app
  ports:
  - protocol: TCP
    port: 80
    targetPort: 5000  # ⬅️ Service port 80 → Container port 5000
  type: ClusterIP
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: demo-app-ingress
  namespace: test
  annotations:
    kubernetes.io/ingress.class: "nginx"
spec:
  rules:
  - host: test.demo.local  # ⬅️ URL différente pour TEST
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: demo-app-svc
            port:
              number: 80